@namespace Blazwind.Components.Navigation
@inherits BwBase

<nav class="@CombineClasses("bw-bottom-nav")"
     style="@Style" id="@Id" @attributes="AdditionalAttributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</nav>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    internal string? ActiveItemId { get; private set; }

    internal void SetActiveItem(string itemId)
    {
        ActiveItemId = itemId;
        StateHasChanged();
    }

}
