@namespace Blazwind.Components.Navigation
@using Blazwind.Components.Shared
@inherits BwBase

<nav class="@CombineClasses("bw-bottom-nav")"
     style="@Style" id="@Id" @attributes="AdditionalAttributes">
    <CascadingValue Value="this">
        @ChildContent
    </CascadingValue>
</nav>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    private string? _activeItemId;
    
    internal string? ActiveItemId => _activeItemId;
    
    internal void SetActiveItem(string itemId)
    {
        _activeItemId = itemId;
        StateHasChanged();
    }
}
