@namespace Blazwind.Components.Card
@using Blazwind.Components.Shared
@inherits BwBase

<div class="@CombineClasses("p-6")" style="@Style" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
}
