@namespace Blazwind.Components.Card
@inherits BwBase

<div class="@CombineClasses("bw-card-body")" style="@Style" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
