@namespace Blazwind.Components.Accordion
@inherits BwBase
@using Blazwind.Components.Shared
@using Blazwind.Components

<CascadingValue Value="this">
    <div class="@_classes" style="@Style" id="@Id" @attributes="AdditionalAttributes">
        @ChildContent
    </div>
</CascadingValue>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public bool AllowMultiple { get; set; } = false;
    [Parameter] public int? DefaultOpenIndex { get; set; }
    [Parameter] public BwVariant Variant { get; set; } = BwVariant.Outline;
    [Parameter] public BwColor Color { get; set; } = BwColor.Primary;
    [Parameter] public BwSize Size { get; set; } = BwSize.Medium;

    private List<BwAccordionItem> _items = new();
    private HashSet<BwAccordionItem> _expandedItems = new();

    private string _classes => CombineClasses(GetBaseClasses());

    private string GetBaseClasses()
    {
        var classes = new List<string> { "bw-accordion" };
        
        // Variant classes
        classes.Add(Variant switch
        {
            BwVariant.Outline => "bw-accordion-outline",
            BwVariant.Filled => "bw-accordion-filled",
            BwVariant.Ghost => "bw-accordion-ghost",
            _ => "bw-accordion-outline"
        });
        
        // Size handling
        classes.Add(Size switch
        {
            BwSize.ExtraSmall => "text-xs",
            BwSize.Small => "text-xs",
            BwSize.Large => "text-base",
            BwSize.ExtraLarge => "text-lg",
            _ => "text-sm"
        });

        return string.Join(" ", classes);
    }

    protected override void OnInitialized()
    {
        // DefaultOpenIndex will be handled after items register
    }

    internal void RegisterItem(BwAccordionItem item)
    {
        _items.Add(item);
        
        // Check if this item should be open by default
        if (DefaultOpenIndex.HasValue && _items.Count - 1 == DefaultOpenIndex.Value)
        {
            _expandedItems.Add(item);
        }
        StateHasChanged();
    }

    internal void UnregisterItem(BwAccordionItem item)
    {
        _items.Remove(item);
        _expandedItems.Remove(item);
        StateHasChanged();
    }

    internal void ToggleItem(BwAccordionItem item)
    {
        if (item.IsDisabled) return;

        if (_expandedItems.Contains(item))
        {
            _expandedItems.Remove(item);
        }
        else
        {
            if (!AllowMultiple)
            {
                _expandedItems.Clear();
            }
            _expandedItems.Add(item);
        }
        StateHasChanged();
    }

    internal bool IsExpanded(BwAccordionItem item) => _expandedItems.Contains(item);
}
