@namespace Blazwind.Components.Toolbar
@using Blazwind.Components.Shared
@inherits BwBase

<div class="@CombineClasses(SeparatorClass)" style="@Style" id="@Id" @attributes="AdditionalAttributes"></div>

@code {
    [CascadingParameter] public BwToolbar? Toolbar { get; set; }

    private bool IsVertical => Toolbar?.IsVertical ?? false;

    private string SeparatorClass => IsVertical
    ? "w-full h-px bg-gray-200/80 dark:bg-gray-700/80 my-1"
    : "h-6 w-px bg-gray-200/80 dark:bg-gray-700/80 mx-1";
}