@namespace Blazwind.Components.Toolbar
@inherits BwBase

<div class="@CombineClasses(SeparatorClass)" style="@Style" id="@Id" @attributes="AdditionalAttributes"></div>

@code {

    [CascadingParameter]
    public BwToolbar? Toolbar { get; set; }

    private bool IsVertical => Toolbar?.IsVertical ?? false;

    private string SeparatorClass => $"bw-tool-separator {(IsVertical ? "vertical" : "horizontal")}";
}