@namespace Blazwind.Components.Layout
@inherits BwBase

<button type="button"
        class="@CombineClasses("bw-sidebar-toggle")"
        style="@Style" id="@Id" @attributes="AdditionalAttributes"
        onclick="Blazwind.Sidebar.toggle()">
    <i class="fa-solid fa-bars text-lg"></i>
</button>

@code {

}
