@namespace Blazwind.Components.Form
@using Blazwind.Components.Shared
@inherits BwBase

@{
    var gapClass = Density switch
    {
        BwFormDensity.Compact => "gap-2",
        BwFormDensity.Relaxed => "gap-6",
        _ => "gap-4"
    };
}

<div class="@CombineClasses($"flex flex-wrap {gapClass}")" style="@Style" id="@Id" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [CascadingParameter] private BwFormDensity? CascadedDensity { get; set; }
    
    /// <summary>Density override</summary>
    [Parameter] public BwFormDensity? DensityOverride { get; set; }
    

    
    /// <summary>Child content</summary>
    [Parameter] public RenderFragment? ChildContent { get; set; }
    
    private BwFormDensity Density => DensityOverride ?? CascadedDensity ?? BwFormDensity.Normal;
}
