@namespace Blazwind.Components.MegaMenu
@inherits BwBase

<div class="@CombineClasses("bw-megamenu-column")" style="@Style" id="@Id" @attributes="AdditionalAttributes">
    @if (!string.IsNullOrEmpty(Title))
    {
        <div class="bw-megamenu-column-header">
            @if (!string.IsNullOrEmpty(Icon))
            {
                <i class="@Icon bw-megamenu-column-icon"></i>
            }
            <span class="bw-megamenu-column-title">@Title</span>
        </div>
    }
    <div class="bw-megamenu-column-items">
        @ChildContent
    </div>
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Icon { get; set; }

}