@namespace Blazwind.Components.Breadcrumb
@inherits BwBase

<nav aria-label="Breadcrumb" class="@CombineClasses("bw-breadcrumb")" style="@Style" id="@Id"
     @attributes="AdditionalAttributes">
    <ol class="bw-breadcrumb-list">
        <CascadingValue Value="SeparatorTemplate" Name="BreadcrumbSeparator">
            @ChildContent
        </CascadingValue>
    </ol>
</nav>

@code {

    [Parameter]
    public RenderFragment? SeparatorTemplate { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

}
