<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
    <div class="components-reconnect-container">
        <div class="components-rejoining-animation" aria-hidden="true">
            <div></div>
            <div></div>
        </div>
        <p class="components-reconnect-first-attempt-visible">
            Reconnecting to server...
        </p>
        <p class="components-reconnect-repeated-attempt-visible">
            Connection attempt failed... Will retry in <span id="components-seconds-to-next-attempt"></span> seconds.
        </p>
        <p class="components-reconnect-failed-visible">
            Could not connect to server.<br/>Please try again or reload the page.
        </p>
        <button id="components-reconnect-button" class="components-reconnect-failed-visible">
            Try Again
        </button>
        <p class="components-pause-visible">
            Session paused by server.
        </p>
        <button id="components-resume-button" class="components-pause-visible">
            Resume
        </button>
        <p class="components-resume-failed-visible">
            Could not resume session.<br/>Please reload the page.
        </p>
    </div>
</dialog>