@using Blazwind.Components.Workflow.Interfaces
@using Blazwind.Components.Workflow.Events
@using Blazwind.Components.Workflow.Nodes
@using Blazwind.Components.Workflow.Models
@using System.Text.Json
@using Microsoft.JSInterop
@inject IJSRuntime JS

<div @ref="_container" class="@CombineClasses($"w-full bg-gray-50 dark:bg-gray-900 rounded-lg border border-gray-200 dark:border-gray-700")" style="height: @Height; @Style">
</div>

@code {
    private ElementReference _container;
    private string? _instanceId;
    private bool _isInitialized;
    private DotNetObjectReference<BwWorkflow>? _netRef;
    
    #region Parameters
    
    /// <summary>
    /// Workflow nodes
    /// </summary>
    [Parameter] public List<IWorkflowNode> Nodes { get; set; } = new();
    
    /// <summary>
    /// Workflow edges
    /// </summary>
    [Parameter] public List<IWorkflowEdge> Edges { get; set; } = new();
    
    /// <summary>
    /// Container height
    /// </summary>
    [Parameter] public string Height { get; set; } = "400px";
    
    /// <summary>
    /// Additional inline styles
    /// </summary>
    [Parameter] public string? Style { get; set; }
    
    /// <summary>
    /// Additional CSS classes
    /// </summary>
    [Parameter] public string? Class { get; set; }
    
    /// <summary>
    /// Node width
    /// </summary>
    [Parameter] public int NodeWidth { get; set; } = 180;
    
    /// <summary>
    /// Node height
    /// </summary>
    [Parameter] public int NodeHeight { get; set; } = 70;
    
    /// <summary>
    /// Horizontal spacing between nodes
    /// </summary>
    [Parameter] public int HorizontalSpacing { get; set; } = 100;
    
    /// <summary>
    /// Vertical spacing between nodes
    /// </summary>
    [Parameter] public int VerticalSpacing { get; set; } = 80;
    
    /// <summary>
    /// Flow direction
    /// </summary>
    [Parameter] public WorkflowDirection Direction { get; set; } = WorkflowDirection.Horizontal;
    
    /// <summary>
    /// Show labels on nodes
    /// </summary>
    [Parameter] public bool ShowLabels { get; set; } = true;
    
    /// <summary>
    /// Enable node interactions
    /// </summary>
    [Parameter] public bool Interactive { get; set; } = true;
    
    /// <summary>
    /// Enable node dragging
    /// </summary>
    [Parameter] public bool Draggable { get; set; } = true;
    
    /// <summary>
    /// Enable animations
    /// </summary>
    [Parameter] public bool Animated { get; set; } = true;
    
    /// <summary>
    /// Fit to screen on load
    /// </summary>
    [Parameter] public bool FitToScreen { get; set; } = true;
    
    /// <summary>
    /// Node click event
    /// </summary>
    [Parameter] public EventCallback<NodeClickedEventArgs> OnNodeClick { get; set; }
    
    /// <summary>
    /// Node position changed event (after drag)
    /// </summary>
    [Parameter] public EventCallback<NodePositionChangedEventArgs> OnNodePositionChanged { get; set; }
    
    /// <summary>
    /// Node status changed event
    /// </summary>
    [Parameter] public EventCallback<NodeStatusChangedEventArgs> OnNodeStatusChanged { get; set; }
    
    /// <summary>
    /// Additional attributes
    /// </summary>
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
    
    #endregion
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && Nodes.Count > 0)
        {
            await InitializeAsync();
        }
    }
    
    protected override async Task OnParametersSetAsync()
    {
        if (_isInitialized && Nodes.Count > 0)
        {
            await UpdateAsync();
        }
    }
    
    private async Task InitializeAsync()
    {
        _netRef = DotNetObjectReference.Create(this);
        
        var data = new
        {
            nodes = Nodes.Select(n => new
            {
                id = n.Id,
                label = n.Label,
                description = n.Description,
                icon = n.Icon,
                status = n.Status.ToString().ToLower(),
                position = new { x = n.Position.X, y = n.Position.Y },
                nodeType = n.NodeType,
                metadata = n.Metadata
            }),
            edges = Edges.Select(e => new
            {
                id = e.Id,
                from = e.FromNodeId,
                to = e.ToNodeId,
                label = e.Label,
                edgeType = e.EdgeType,
                animated = e.Animated
            })
        };
        
        var options = new
        {
            nodeWidth = NodeWidth,
            nodeHeight = NodeHeight,
            horizontalSpacing = HorizontalSpacing,
            verticalSpacing = VerticalSpacing,
            direction = Direction.ToString().ToLower(),
            showLabels = ShowLabels,
            interactive = Interactive,
            draggable = Draggable,
            animated = Animated,
            fitToScreen = FitToScreen
        };
        
        _instanceId = await JS.InvokeAsync<string>("Blazwind.Workflow.init", _container, data, options, _netRef);
        _isInitialized = true;
    }
    
    private async Task UpdateAsync()
    {
        if (_instanceId != null)
        {
            var data = new
            {
                nodes = Nodes.Select(n => new
                {
                    id = n.Id,
                    label = n.Label,
                    description = n.Description,
                    icon = n.Icon,
                    status = n.Status.ToString().ToLower(),
                    position = new { x = n.Position.X, y = n.Position.Y },
                    nodeType = n.NodeType,
                    metadata = n.Metadata
                }),
                edges = Edges.Select(e => new
                {
                    id = e.Id,
                    from = e.FromNodeId,
                    to = e.ToNodeId,
                    label = e.Label,
                    edgeType = e.EdgeType,
                    animated = e.Animated
                })
            };
            
            await JS.InvokeVoidAsync("Blazwind.Workflow.update", _instanceId, data);
        }
    }
    
    #region Public API
    
    /// <summary>
    /// Update a node's status
    /// </summary>
    public async Task UpdateNodeStatusAsync(string nodeId, WorkflowNodeStatus status)
    {
        if (_instanceId != null)
        {
            await JS.InvokeVoidAsync("Blazwind.Workflow.updateNodeStatus", _instanceId, nodeId, status.ToString().ToLower());
        }
    }
    
    /// <summary>
    /// Zoom in
    /// </summary>
    public async Task ZoomInAsync()
    {
        if (_instanceId != null)
        {
            await JS.InvokeVoidAsync("Blazwind.Workflow.zoomIn", _instanceId);
        }
    }
    
    /// <summary>
    /// Zoom out
    /// </summary>
    public async Task ZoomOutAsync()
    {
        if (_instanceId != null)
        {
            await JS.InvokeVoidAsync("Blazwind.Workflow.zoomOut", _instanceId);
        }
    }
    
    /// <summary>
    /// Fit diagram to screen
    /// </summary>
    public async Task FitToScreenAsync()
    {
        if (_instanceId != null)
        {
            await JS.InvokeVoidAsync("Blazwind.Workflow.fitToScreen", _instanceId);
        }
    }
    
    #endregion
    
    #region JS Interop Callbacks
    
    [JSInvokable]
    public async Task HandleNodeClick(string nodeId, string nodeJson)
    {
        var node = Nodes.FirstOrDefault(n => n.Id == nodeId);
        if (node != null && OnNodeClick.HasDelegate)
        {
            await OnNodeClick.InvokeAsync(new NodeClickedEventArgs
            {
                NodeId = nodeId,
                Node = node
            });
        }
    }
    
    [JSInvokable]
    public async Task HandleNodePositionChanged(string nodeId, JsonElement oldPos, JsonElement newPos)
    {
        var node = Nodes.FirstOrDefault(n => n.Id == nodeId);
        if (node != null)
        {
            var oldPosition = new NodePosition(oldPos.GetProperty("x").GetDouble(), oldPos.GetProperty("y").GetDouble());
            var newPosition = new NodePosition(newPos.GetProperty("x").GetDouble(), newPos.GetProperty("y").GetDouble());
            
            // Update node position
            node.Position = newPosition;
            
            if (OnNodePositionChanged.HasDelegate)
            {
                await OnNodePositionChanged.InvokeAsync(new NodePositionChangedEventArgs
                {
                    NodeId = nodeId,
                    OldPosition = oldPosition,
                    NewPosition = newPosition
                });
            }
        }
    }
    
    #endregion
    
    private string CombineClasses(string baseClasses)
    {
        return string.IsNullOrEmpty(Class) ? baseClasses : $"{baseClasses} {Class}";
    }
    
    public async ValueTask DisposeAsync()
    {
        if (_instanceId != null)
        {
            try
            {
                await JS.InvokeVoidAsync("Blazwind.Workflow.dispose", _instanceId);
            }
            catch { }
        }
        _netRef?.Dispose();
    }
}
